.custom-button {
    -fx-background-color: #02e8ff; /* Green background */
    -fx-text-fill: #000000; /* White text */
    -fx-font-size: 12px;
    -fx-padding: 8px 16px; /* Padding around text */
    -fx-border-radius: 2px; /* Rounded corners */
    -fx-background-radius: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 8, 0.5, 0, 2); /* Shadow effect */
}

.custom-button:hover {
    -fx-background-color: linear-gradient(to right, #2575fc, #6a11cb); /* Reverse the gradient on hover */
    -fx-text-fill: #f9f9f9; /* Lighten the text color on hover */
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.8), 12, 0.0, 0, 2); /* Lighter shadow on hover */
}